@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.light-sweep {
  pointer-events: none;

  background: linear-gradient(
    120deg,
    transparent 42%,
    rgba(255, 255, 255, 0.95) 50%,
    transparent 58%
  );

  background-size: 250% 100%;

  animation: lightMove 7s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  mix-blend-mode: screen;
  filter:
    blur(0.45px)
    drop-shadow(0 0 6px rgba(255,255,255,0.7))
    drop-shadow(0 0 14px rgba(255,255,255,0.35));
}

@keyframes lightMove {
  0% {
    background-position: 200% 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    background-position: -200% 0;
    opacity: 0;
  }
}


/* Button Animasi */
@keyframes borderSpin {
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  animation: borderSpin 6s linear infinite;
}